.row-4-30px {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-left: -15px;
  margin-right: -15px;
}

.row-4-30px {
  *zoom: 1;
}

.row-4-30px:after {
  content: '';
  display: table;
  clear: both;
}

.row-4-30px .col {
  float: left;
  width: 25%;
  min-height: 1px;
}

.row-4-30px .col .container {
  padding-left: 15px;
  padding-right: 15px;
}

.row-6-44px {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-left: -22px;
  margin-right: -22px;
}

.row-6-44px {
  *zoom: 1;
}

.row-6-44px:after {
  content: '';
  display: table;
  clear: both;
}

.row-6-44px .col {
  float: left;
  width: 16.66667%;
  min-height: 1px;
}

.row-6-44px .col .container {
  padding-left: 22px;
  padding-right: 22px;
}
